<html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<head>
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title></title>
</head>
<body>
<h1><a href="">Enquete para a Identificação dos Estados Emocionais em Texto Narrativo do Português Brasileiro</a></h1>

<p></p>

<div style="padding: 10px; width: 1000px; align-content: center;">
{% with num=0 %}
{% if latest_question_list %}

    <ol type="1">


    {% for question in latest_question_list %} <!-- loop for questions -->
      <section id=question.id>
      {{question.id}}
      <h2><li>{{ question.question_text }}</li></h2>
      </section>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <!-- <div class= "question clearfix">
      <div class="question-click-shield" tabindex="" -->
      <!-- <form action="{% url 'polls:vote' question.id %}" method="post"> -->
      <form action="{% url 'polls:index3' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %} <!-- loop for checkbox answers -->
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
          <span style="color: black;">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></br>
          </span>
        {% endfor %}
        <!-- <input type="submit" value="Vote" /> -->
      </form>
    {% endfor %}
    <input type="submit" value="Vote" />

  </ol>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>
{% endwith %}

</body>
</html>
