<html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<head>
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <title></title>




</head>
<body>

    <h1><a href="">Enquete para a Identificação dos Estados Emocionais em Texto Narrativo do Português Brasileiro</a></h1>


<div style="position: static; background-color: #A3E4D7; align-content: center; padding: 30px; text-align: justify-all;">
<h3>Prezados Colegas</h3>

<p>Queremos aproveitar a oportunidade para cumprimentá-lo e pedir sua colaboração. Desejamos apenas conhecer  seus critérios , portanto garantimos total anonimato na conclusão da pesquisa. </p>

<p>Consiste em 50 perguntas de frases, fáceis de responder (Positivo, Negativo ou Neutro) segundo seu criterio.</p>

<p>É importante que a resposta seja com o máximo de sinceridade possível, dessa forma, obter-se-á que os pontos obtidos são reais e a investigação seja eficaz.</p>

<p>Com antecedência, queremos mostrar nossos sinceros agradecimentos por seu esforço e colaboração"</p>
</div>


<p>


</p>

<p>


</p>
<p>


</p>
<!-- <form action="index2">

<input type="submit" value="Aceptar" />

</form> -->


<form action="index2" >
    <table width = '400' px padding = '110'px >
        <tr>
            <td>Ingrese seu nome:</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>

            <td>Escolha sua faixa etaria por favor: </td>
         <tr>
         	<td ><input type="checkbox" id="cbox1" value="second_checkbox"> <label for="cbox1">20 anos ou menos</label> </td>
        </tr>
        <tr>
         	<td><input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">21 - 30 anos</label> </td>
        </tr>
        <tr>
         	<td><input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">31 - 40 anosa</label> </td>
        </tr>
        <tr>
         	<td><input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">41 - 50 anos</label> </td>
        </tr>
        <tr>
         	<td><input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">51 - 60 anos</label> </td>
        </tr>
        <tr>
         	<td><input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">61 anos ou mais</label> </td>
        </tr>

        <tr>
            <td>

            </td>
            <td>
              <input type="submit" value="Next" />

            </td>
        </tr>
    </table>
</form>








</body>
</html>
