{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src='{% static "assets/javascript/meujsteste.js" %}'></script>
    </head>
    <body>
        <div>
            <header>
                <h1>Desenvolvimento Aberto</h1>
                <h2>Django - Validations </h2>
            </header>
            <div>
                <p>
                    Meu Formulário
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" />
                </form>
            </div>
        </div>
        <!-- Div - logs do evento javascript -->
        <div id="meulog">  </div>

    </body>
</html>
